<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Add Patient</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Nombres<span class="text-danger">*</span></label>
                                <input class="form-control" type="text">
                                {{form.name}}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Apellidos</label>
                                <input class="form-control" type="text">
                                {{form.lastname}}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Email <span class="text-danger">*</span></label>
                                <input class="form-control" type="email">
                                {{form.email}}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>DNI</label>
                                <input class="form-control" type="text">
                                {{form.dni}}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group gender-select">
                                <label class="gen-label">Gender:</label>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" name="gender" class="form-check-input">
                                        {{form.gender}}Hombre
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" name="gender" class="form-check-input">
                                        {{form.gender}}Mujer
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Direccion</label>
                                        <input type="text" class="form-control ">
                                        {{form.address}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Telefono </label>
                                <input class="form-control" type="text">
                                {{form.phone}}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>