<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block cabecera %}{% endblock %}
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/presentacion">Presentacion</a></li>
        <li><a href="/vision">Vision</a></li>
        <li><a href="/mision">Mision</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
    {% block pie %}{% endblock %}
</body>
</html>