{% extends 'core/medic/basem.html' %}
{% block user %}
<b>{{request.user.first_name}} {{request.user.last_name}}</b>
{% endblock %}
{% block menu %}
{% endblock %}



        

{% block content %}


<div class="page-wrapper">
    <div class="content">
        
        <div class="row">
            <div class="col-sm-4 col-3">
                <p>
                    Bienvenido <b>{{request.user.first_name}}</b>,
                    esta página es exclusiva para usuarios Medicos.
                </p>
            </div>
   


  {% endblock %}