{% extends 'core/medic/basem.html' %}
{% block user %}
<b>{{request.user.first_name}} {{request.user.last_name}}</b>
{% endblock %}
{% block menu %}
{% endblock %}





{% block content %}


<div class="page-wrapper">
    <div class="content">
        <p>
            Bienvenido <b>{{request.user.first_name}}</b>,
            esta página es exclusiva para usuarios Medicos.
        </p>
        <div class="row">
            <div class="col-sm-4 col-3">
                <h1 class="page-title">
                    Lista de citas</h1>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">

                    <table class="table table-striped custom-table">
                        <thead>
                            <tr>

                                <th>Patient Name</th>
                                <th>Motive</th>
                                <th>Appointment Date</th>
                                <th>Appointment Time</th>

                                <th class="text-right">Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cita in citas %}
                            <tr>

                                <td> {{cita.patientid}}</td>
                                <td>{{cita.reason}}</td>
                                <td>{{cita.dateappointment}}</td>
                                <td>10:00am - 11:00am</td>

                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item"
                                                href="{% url 'consultationNew' cita.patientid %}"><i
                                                    class="fa fa-pencil m-r-5"></i> Start consultation</a>

                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% endblock %}